
<div class="text-layout">
    <h1>Basics Pipes</h1>
    <p>Pipes included in Angular - Usually in the Commun Module</p>
</div>

<div class="p-grid text-layout">
    <div class="p-col-4">
        
    </div>
    <div class="p-col-4">
        2 - Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere officiis ratione sequi, deserunt dolorum veritatis eveniet quibusdam nostrum cupiditate delectus aliquid similique est expedita, non a, consectetur magni ducimus voluptas.
    </div>
    <div class="p-col-4">
        3 - Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere officiis ratione sequi, deserunt dolorum veritatis eveniet quibusdam nostrum cupiditate delectus aliquid similique est expedita, non a, consectetur magni ducimus voluptas.
    </div>
</div>