<div class="text-layout">
    <h1>DecimalPipe & Percentage</h1>
    <p>Pipes included in Angular - Usually in the Commun Module</p>
</div>

<div class="p-grid">
    <div class="p-col p-md-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur omnis fugit pariatur perspiciatis tempore voluptate repudiandae dolorem optio. Veritatis deleniti sit officiis maxime aliquam modi enim explicabo saepe repellat atque?
        </p-fieldset>
    </div>
    <div class="p-col p-md-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur omnis fugit pariatur perspiciatis tempore voluptate repudiandae dolorem optio. Veritatis deleniti sit officiis maxime aliquam modi enim explicabo saepe repellat atque?
        </p-fieldset>
    </div>
</div>