<app-menubar></app-menubar>
<h1 class="text-layout">{{ title | titlecase }}</h1>

<!-- <button pButton 
        (click)="changeTitle()" 
        icon="pi pi-pencil" iconPos="right" 
        label="Change Title" 
        class="p-button-warning"></button>

<div class="col">
    <p-card [header]="title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officiis et sint a voluptas modi obcaecati suscipit perferendis? Iste aliquid eveniet sit ipsa laudantium repellat eligendi nisi nesciunt quos excepturi?
    </p-card>
</div> -->

<router-outlet></router-outlet>

<p></p>