.p-card {
    margin-top: 10px;
}

html,
body {
    margin: 20px;
    background-color: var(--surface-b);
    font-family: var(--font-family);
}

.text-layout {
    color: var(--text-color);
}

.col {
    width: 50%;
}